In [ ]:
# 1. 12세 이하인 여자 환자 목록 출력하기
SELECT PT_NAME, PT_NO, GEND_CD, AGE
, IFNULL(TLNO, "NONE") AS TLNO
# CASE WHEN 으로는 하면 안되나?
#, CASE WHEN TLNO IS NULL THEN "NONE" AS TLNO
FROM PATIENT
WHERE AGE <= 12 AND GEND_CD = "W"
ORDER BY AGE DESC, PT_NAME ASC