In [ ]:
# 1. (SELECT) 12세 이하인 여자 환자 목록 출력하기
# 23/04/10
SELECT PT_NAME, PT_NO, GEND_CD, AGE
, IFNULL(TLNO, "NONE") AS TLNO
# CASE WHEN 으로는 하면 안되나? => 해결
#, CASE WHEN TLNO IS NULL THEN "NONE" AS TLNO
FROM PATIENT
WHERE AGE <= 12 AND GEND_CD = "W"
ORDER BY AGE DESC, PT_NAME ASC

In [ ]:
# 1. (SELECT) 12세 이하인 여자 환자 목록 출력하기
# 23/04/11
# 하지만 너무 길어져서 보다 간단한 IFNULL()을 사용하는 듯 하다.
# 참고 : https://kk-programming.tistory.com/102
SELECT PT_NAME, PT_NO, GEND_CD, AGE
, CASE WHEN TLNO IS NULL THEN "NONE"
ELSE TLNO END AS TLNO
FROM PATIENT
WHERE AGE <= 12 AND GEND_CD = "W"
ORDER BY AGE DESC, PT_NAME ASC

In [ ]:
# 2.(SUM, MAX, MIN) 가장 비싼 상품 구하기 https://school.programmers.co.kr/learn/courses/30/lessons/131697
# 23/04/13
SELECT PRICE AS MAX_PRICE
FROM PRODUCT
ORDER BY PRICE DESC
LIMIT 1