In [ ]:
# 1. (SELECT) 12세 이하인 여자 환자 목록 출력하기
# 23/04/10
SELECT PT_NAME, PT_NO, GEND_CD, AGE
, IFNULL(TLNO, "NONE") AS TLNO
# CASE WHEN 으로는 하면 안되나? => 해결
#, CASE WHEN TLNO IS NULL THEN "NONE" AS TLNO
FROM PATIENT
WHERE AGE <= 12 AND GEND_CD = "W"
ORDER BY AGE DESC, PT_NAME ASC

In [ ]:
# 1. (SELECT) 12세 이하인 여자 환자 목록 출력하기
# 23/04/11
# 하지만 너무 길어져서 보다 간단한 IFNULL()을 사용하는 듯 하다.
# 참고 : https://kk-programming.tistory.com/102
SELECT PT_NAME, PT_NO, GEND_CD, AGE
, CASE WHEN TLNO IS NULL THEN "NONE"
ELSE TLNO END AS TLNO
FROM PATIENT
WHERE AGE <= 12 AND GEND_CD = "W"
ORDER BY AGE DESC, PT_NAME ASC

In [ ]:
# 2.(SUM, MAX, MIN) 가장 비싼 상품 구하기 https://school.programmers.co.kr/learn/courses/30/lessons/131697
# 23/04/13
SELECT PRICE AS MAX_PRICE
FROM PRODUCT
ORDER BY PRICE DESC
LIMIT 1

In [ ]:
# 3. (IS NULL) 경기도에 위치한 식품창고 목록 출력하기
# 23/04/14
# 와일드카드
SELECT WAREHOUSE_ID, WAREHOUSE_NAME, ADDRESS,
CASE WHEN FREEZER_YN IS NULL THEN 'N'
ELSE FREEZER_YN END AS FREEZER_YN
FROM FOOD_WAREHOUSE
WHERE ADDRESS LIKE "경기%"
ORDER BY WAREHOUSE_ID ASC

In [ ]:
# IFNULL() 사용해보기
SELECT WAREHOUSE_ID, WAREHOUSE_NAME, ADDRESS
, IFNULL(FREEZER_YN, "N")
FROM FOOD_WAREHOUSE
WHERE ADDRESS LIKE "경기%"
ORDER BY WAREHOUSE_ID ASC

In [ ]:
# 4. (String, Date) 자동차 대여 기록에서 장기/단기 대여 구분하기
# https://school.programmers.co.kr/learn/courses/30/lessons/151138
# 23/04/15
# DATE_FORMAT, DATEDIFF 개념
# "장기 대여", "단기 대여" 띄어쓰기 주의
SELECT HISTORY_ID, CAR_ID
, DATE_FORMAT(START_DATE, "%Y-%m-%d") AS START_DATE
, DATE_FORMAT(END_DATE, "%Y-%m-%d") AS END_DATE
, IF(DATEDIFF(END_DATE, START_DATE) >= 29, "장기 대여", "단기 대여") AS RENT_TYPE
FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
WHERE DATE_FORMAT(START_DATE, "%Y-%m") LIKE "2022-09"
ORDER BY HISTORY_ID DESC